<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ITrip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFE5461A1E85C54F00A7B7B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE5462E1E85C54F00A7B7B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE546391E85C54F00A7B7B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
